body{
    background-image: linear-gradient(90deg,#ef32d9,#89fffe) ;
    /* background-image: url('../images/michael-longmire-lhltMGdohc8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 800px;
    background-position: center; */
}

.navbar{
    background-color: yellow;
}

.user{
    
    width: 750px;
    height:400px;
    position: relative;
    left:22%;
    top : 40px;
    box-shadow: yellow;
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.user:hover{
     
}

.userpic{
    position: relative;
    left:7%;
    top:65px;
    width:30%;
    height:30%;
}

.myform{
    position: relative;
    left: 50%;
    top:-160px;
    display: inline-block;
    padding: 10px;
}

input{
    display: block;
    
}
.head{
    position: absolute;
    text-align: center;
    margin:auto;
    width:100%;
}

label{
    padding:6px;
    font-size: 18px;
}

input[type='text']{
    width:150%;
    height:40%;
    padding:4px;
}

input[type="submit"]{
    margin-top : 30px;
    background-color: #f5f5f5;
    width:150%;
    
}

input[type="submit"]:hover{
    transform: scale(1.1);
    background-color: tomato;
}

input[type="email"]{
    width:150%;
    height:40%;
    padding:4px;
}

@media only screen and (max-width: 508px) {
    .user{
        position: absolute;
        left:8%;
        top:24%;
        width:400px;
        height:400px;
    }
    .head{
        font-size: 20px;
    }
    .myform{
        position: relative;
        top:-50px;
        width:30%;
        height:30%;
    }
}