*{
    font-size:17px;
    color: rgb(8, 8, 0);
}

.container{
    font-size: 10px;
    /* display: grid; */
    /* padding: 40px; */
    text-align :center;
    /* background-color: tomato; */
    margin-top:30px;
    background-color: rgb(255, 255, 255,0.5);
    background-color: rgb(255, 255, 255,0.5);
}
/* .row{
    background-color: yellow;
    margin:4px;
    /* display: grid; */
/* } */ */

.column {
    /* flex-grow: 2px; */
    /* display: block; */
    margin-left:150px;
    padding:10px;
    background-color: rgb(240, 34, 178);
}

.col,.col-md-1{
    padding:5px;
    border: 2px rgb(115, 247, 8) solid;
}

.row,.col{
    flex : 16%;
}

i{
    width:70px;
    height:50px;
    font-size: 30px;
    color:red;
}
body{
    background-image: linear-gradient(90deg,#3D7EAA,#FFE47A) ;
}

