body{
    background-color: rgb(85, 240, 46);
    background-image: linear-gradient(90deg, #fc00ff,#00dbde);
}

.home{
    border: 2px solid rgb(247, 122, 230);
    width:300px;
    height:200px;
    backdrop-filter: blur(20px);
    /* filter: blur(1px); */
    box-shadow: 4px 5px 60px rgb(174, 226, 144) ;
    background: rgba(255,255,255,0.5);
}

.container{
    position: relative;
    top:30px;
    padding:30px;
    margin:20px;
    flex : 20%;
     
}

.row,.col{
    margin:10px;
}
.card{
    height:450px;
    background: rgba(255,255,255,0.5);
}


.card-img-top{
    position: relative;
    width:100%;
    height:50%;
}

.foot{
    position: absolute;
    bottom:0;
    margin-top: 30px;
    padding:3px;
    background-color: yellow;
    width:60%;
}

.typewriter>.anim{
    margin-top:15%;
    animation: 
    type 2s infinite,blink-caret 1s step-end infinite; 
    color:white;
    
    display: flex;
    border:green .15em solid;
    border-top: red 2px solid;
     
    width:0%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}


@keyframes type {
  from{
      width: 0%
  }
  to{
      width:auto
  }
       
}

  @keyframes blink-caret{
    from{
        border: red;
    }
    to{
       border: yellow;
    }
}  