body{
    background-image: linear-gradient(90deg,#43cea2, #185a9d) ;
}

.container{
    position: relative;
    border:2px solid red;
    width:50%;
    top:40px;
    height:350px;
    border-radius: 5%;
    background: rgba(255,255,255,0.5);
}

.row{
    border:2px solid red;
    border-radius: 10%;
    padding: 4px;
}

.col{
    border:2px solid green;
}
.head{
    font-size: 3vw;
}
select{
    position: relative;
    width:100%;
    padding:5px;
    text-align: center;
    margin-bottom:10px;
    display: block;
}


input[type="number"]{
    width:100%;
    padding:6px;
    margin-bottom: 10px;
}
input[type="submit"]{
    position: relative;
    display: flex;
    margin: auto;
    width:200px;
    justify-content: center;
    padding: 4px ;
}

.col{
    text-align: end;
}


.alert{
    position:relative;
    top:-364px;
    text-align: center;
}

.alert-success{
    text-align: center;
}

.row:hover{
    background-color: #43cea2;

}

h5{
    text-align: center;
}

#mini>p{
    width:300px;
    height:300px;
    border:2px solid red;
    display:none;
}